.user-panel-game-grid-container {
  padding-top: 5px;
  padding-bottom: 5px;
  display: grid;
  color: var(--font-color);
  margin-left: 1vw;
  margin-right: 1vw;
  grid-template-rows: 100%;
}

.waiting-player-game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color-theme);
    height: 100%;
    border-radius: 5px;
}

.waiting-player-game-active {
  -webkit-box-shadow: 0px 0px 10px 0px var(--color-success);
  -moz-box-shadow: 0px 0px 10px 0px var(--color-success);
  box-shadow: 0px 0px 10px 0px var(--color-success);
}

.waiting-player-game-passive {
  -webkit-box-shadow: 0px 0px 10px 0px var(--color-danger);
  -moz-box-shadow: 0px 0px 10px 0px var(--color-danger);
  box-shadow: 0px 0px 10px 0px var(--color-danger);
}
  

.player-avatar-game {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}

  
  
@media all and (orientation: landscape) {
    .player-avatar-game {
      width: 50%;
      height: 50%;
    }

    .user-panel-game-grid-container {
      grid-template-columns: 15% 70% 15%;
      padding-top: 5px;
      height: 15vh;
    }

    .waiting-player-game {
      height: 11vw;
      width: 11vw;
      margin: 2px 5px;
      border-radius: 8px;
  }
  }
  
  
@media all and (orientation: portrait) {
    .player-avatar-game {
      width: 50%;
      height: 50%;
    }

    .user-panel-game-grid-container {
      grid-template-columns: 10% 80% 10%;
      padding-top: 3px;
      height: 25vh;
    }

    .waiting-player-game {
      flex-wrap: wrap;
      font-size: var(--small-font-size);
      height: 20vw;
      width: 20vw;
      margin: 0px 5px;
      border-radius: 5px;
  }
  }