.flex-container-centered-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.message-in-chat {
  color: white;
  font-size: var(--font-size);
}

.chat-header {
  text-decoration: none;
  text-align: center;
  color: var(--forth-color);
  font-size: var(--big-font-size);
}

@media all and (orientation: landscape) {
  .messages {
    height: calc(20px + 60vh);
    width: 100%;
  }
}

@media all and (orientation: portrait) {
  .messages {
    height: calc(40px + 70vh);
    width: 100%;
  }
}

.messages {
  background-color: var(--color-bg-light);
  overflow-y: auto;
  overflow-x: hidden;
}

@media all and (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
  }
}

@media all and (orientation: portrait) {
  ::-webkit-scrollbar {
    width: 1.5vw;
    height: 1.5vw;
  }
}

::-webkit-scrollbar-button {
  width: 1.5vh;
  height: 1.5vh;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: var(--scroll);
}
::-webkit-scrollbar-track {
  background: var(--scroll-background);
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: var(--scroll-background);
}
::-webkit-scrollbar-track:active {
  background: var(--scroll-background);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  label {
    font-weight: bold;
    font-size: var(--font-size);
  }
}
.user-input {
  border: 0px;
  margin-bottom: 1px;
  color: var(--color-light);
  background-color: var(--color-input);
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: background-color 500ms ease, border-bottom 500ms ease, box-shadow 1000ms ease;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: var(--font-size);
}

.user-input {
  outline: none;
  border-bottom: 2px solid var(--border-color-theme);
  box-shadow: 0 5px 5px -5px var(--border-color-theme);
}

@media all and (orientation: landscape) {
  .chat-button {
    width: calc(10px + 45vw);
    height: calc(10px + 10vh);
  }
}
@media all and (orientation: portrait) {
  .chat-button {
    width: calc(10px + 45vw);
    height: calc(10px + 5vh);
  }
}
.chat-button {
  background-color: var(--color-bg-dark);
  color: var(--color-light);
  border: 2px solid;
  border-color: var(--color-light);
  font-size: var(--big-font-size);
  outline: none;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  cursor: pointer;
  transition: 0.2s;
}

.chat-button:hover {
  background-color: var(--color-bg-light);
}
