@import "./chat.scss";

:root {
  // main colors
   --color-bg-dark: rgb(23, 21, 32);
   --color-bg-light: rgba(38, 35, 53, 1);
   --color-input: rgb(58, 54, 80);
   --color-light: #c5aee0;
   --forth-color: #efbcd5;

   --border-color-theme: #c5aee0;

   // scroll
   --scroll-background: var(--color-bg-light);
   --scroll: var(--color-light);

   // font
   --font-color: var(--color-light);

  @media all and (orientation: landscape) {
    --font-size:  calc(20px + 1.5vw); 
    --big-font-size: calc(20px + 2vw);
    --small-font-size: 1vw;

  }
  @media all and (orientation: portrait) {
    --font-size: calc(10px + 2vh);;
    --big-font-size: calc(10px + 2.5vh);
    --small-font-size: 1vh;
  }
}

body {
  background-color: var(--color-bg-dark);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-feature-settings: "kern";
  font-size: var(--font-size);
  font-weight: 600;
}
