@import "./chat.scss";

:root {
  // main colors
  --color-bg-dark: rgb(23, 21, 32);
  --color-bg-light: rgba(38, 35, 53, 1);

  --color-input: rgb(58, 54, 80);

  // form
  --color-success: #72f1b8;
  --color-input-valid: #c5aee0;
  --color-danger: #920031;

  // старый цвет - rgba(54, 249, 246, 1);
  --border-color-theme: #c5aee0;

  // scroll
  --scroll-background: var(--color-bg-light);
  --scroll: #c5aee0;

  // text
  --color-headers-font: white;
  --font-color-theme: #c5aee0;

  --color-border-primary-low: #b497d6;
  --forth-color: #efbcd5;

  --main-width: 90vw;
  --main-content-vertical-margin: 2vh;

  @media all and (orientation: landscape) {
    --font-size: 2vw; // Размер шрифта
    --big-font-size: 2.7vw; // Размер большого шрифта
    --small-font-size: 1vw; // Размер малого шрифта

  }
  @media all and (orientation: portrait) {
    --font-size: 2vh;
    --big-font-size: 2.7vh;
    --small-font-size: 1vh;
  }
}

body {
  // дублирование цвета
  background-color: var(--color-bg-dark);
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-feature-settings: "kern";
  font-size: var(--font-size);
  font-weight: 600;
}
