.progress-bar {
  width: var(--main-width);
  height: 30px;
  background-color: grey;
  display: grid;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  .dynamic-bar {
    width: 1%;
    height: 30px;
    border-radius: 20px;
    background-color: green;
  }
}

.progress-bar-hidden {
  width: var(--main-width);
  height: 30px;
  display: grid;
  margin: auto;
  // visibility: hidden;
}
