.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.flex-container-centered-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.flex-navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
