div(class="application")
    form(class="form")
        div(class="form-group")
            label(for="login") Введите логин:
            input(name="login", id="login", type="text")
            span(class="error-annotation") Отображение ошибки

        div(class="form-group")
            label(for="password") Введите пароль:
            input(class="input-valid", name="password", id="password", type="password")
            span(class="error-annotation") Отображение ошибки
        button(type="submit", id="autorisation") Войти