.main-container {
  width: var(--main-width);
  margin: var(--main-content-vertical-margin) auto;
  color: var(--font-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 60vh 8vh;
}

.tab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.fadeout-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}

.fadeout {
  z-index: 1;
  pointer-events: none;
  height: 7vw;
  width: 98.5%;
  background: -webkit-linear-gradient(rgba(23, 21, 32, 0) 0%, rgba(23, 21, 32, 1) 100%);
}

@media all and (orientation: landscape) {
  ::-webkit-scrollbar {
    width: 1.5vh;
    height: 1.5vh;
  }
}
@media all and (orientation: portrait) {
  ::-webkit-scrollbar {
    width: 1.5vw;
    height: 1.5vw;
  }
}

::-webkit-scrollbar-button {
  width: 1.5vh;
  height: 1.5vh;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: var(--scroll);
}
::-webkit-scrollbar-track {
  background: var(--scroll-background);
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: var(--scroll-background);
}
::-webkit-scrollbar-track:active {
  background: var(--scroll-background);
}
::-webkit-scrollbar-corner {
  background: transparent;
}
