.panel-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.info {
  background-color: var(--color-bg-light);
  width: 60vw;
  height: 160vh;
  margin-top: 7vh;
  text-align: center;

  .header-text {
    color: var(--color-headers-font);
    font-size: var(--font-size);
    margin-bottom: 3vh;
  }

  .text {
    color: var(--color-headers-font);
    font-size: var(--small-font-size);
  }
}