.panel-info-grid {
  display: grid;
  grid-template-rows: 5% 25% 70%;
  text-align: center;
}

@media all and (orientation: landscape) {
  .panel-info-grid {
    grid-template-columns: 20% 60% 20%;
    height: calc(100px + 5vh);
  }
  .info-main-container {
    border-radius: 50px;
  }
}

@media all and (orientation: portrait) {
  .panel-info-grid {
    grid-template-columns: 10% 80% 10%;
    height: calc(100px + 5vh);
  }
  .info-main-container {
    border-radius: 20px;
  }
}

.info-main-container {
  background-color: var(--color-bg-light);
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  border: 5px solid;
  border-color: var(--forth-color);
}

.info-heder-text {
  background-color: transparent;
  text-align: center;
  color: var(--color-headers-font);
  font-size: var(--font-size);

  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  grid-column: 2;
  grid-row: 2;
}

.info-text {
  margin-top: 2vh;
  background-color: transparent;
  text-align: center;
  color: var(--color-headers-font);
  font-size: var(--font-size);

  height: 80%;
  grid-column: 2;
  grid-row: 3;
}
