.user-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.other-user {
  border-color: $color-bg-light;
  border: 2px solid $color-border-primary-low;
}

#main-user {
  background-color: $color-bg-light;
  border: 2px solid $color-border-primary-low;
}



@media all and (orientation: landscape) {
  .other-user {
    width: 10vw;
    height: 10vw;
  }

  #main-user {
    width: 10vw;
    height: 10vw;
  }
}


@media all and (orientation: portrait) {
  .other-user {
    width: 10vh;
    height: 10vh;
  }

  #main-user {
    width: 10vh;
    height: 10vh;
  }
}




