div(class="application")
    form(class="form", id="autorisation_form")
        div(class="form-group")
            label(for="username") Логин
            input(name="username", id="username", type="text")
            span(class="error-annotation" id="error_username") Отображение ошибки

        div(class="form-group")
            label(for="password") Пароль
            input(class="input-valid", name="password", id="password", type="password")
            span(class="error-annotation" id="error_password") Отображение ошибки
        input(type="submit", class="input-button", value="Войти" id="autorisation")
