form(class="form", id="autorisation_form")
    div(class="form-group")
        label(for="username") Введите логин:
        input(name="username", id="username", type="text")
        span(class="error-annotation" id="error_username") Отображение ошибки

    div(class="form-group")
        label(for="password") Введите пароль:
        input(class="input-valid", name="password", id="password", type="password")
        span(class="error-annotation" id="error_password") Отображение ошибки
    button(type="submit", id="autorisation") Войти