if formNumber === 1
    form(class="form")
        div(class="form-group")
            label(for="room-name") Название
            input(class="input-valid" name="room-name", id="room-name", type="text")
            span(class="error-annotation" id="error_room_name") Отображение ошибки

        div(class="form-group")
            label(for="users-number") Количество игроков
            input(type="number" id="users-number" size="3" name="num" min="2" max="6" value="2")
            span(class="error-annotation") Отображение ошибки
        div(class="form-group")
            div(class="flex-container-centered-content") 
                <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="question-circle" class="svg-inline--fa fa-question-circle fa-w-16 help__question" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"></path></svg>
                div Создавая комнату, вы становитесь ведущим

        input(type="submit", class="input-button", value="Далее", id="further")
else 
    div(id="max_order" maxOrder="2")
    div(class="main-room-container")
        div(class="tab" id="my-packs" order="1") Мои паки
        div(class="tab tab-click" id="all-packs" order="2") Все паки
        
        if packs
            div(class="tab-content")
                div(id="offline_mode")
                div(class="offline-panel")
                    div(class="panel-elem") Название
                    div(class="panel-elem") Автор
                    div(class="panel-elem") 
                each pack, index in packs
                    div(class="offline-panel")
                        div(class="panel-elem" id="pack-name-" + pack.id) #{pack.name}
                        div(class="panel-elem") #{pack.author}
                        div(class="panel-elem")
                            div(class="pack-button" id=pack.id) Выбрать
                span(class="error-annotation" id="error-pack-not-chosen") Отображение ошибки
                
        else 
            div(class="tab-content")
                div(class="empty-tab-info") Вы не создали ни одного пака

    form(class="form")
        input(type="submit", class="input-button", value="Завершить" id="finish")
        
