div(class="text-container")
    div(class="text") Для создания пака выберите ячейку с темой и вопросом! 

mixin cell(_id, theme)
    - const cost = (_id + 1) * 100;
    - const modifyId = "" + theme + _id;
    div(class="question-container__cost" id=modifyId) #{cost}

mixin line(theme_id, theme_name)
    div(class="question-container__line" id=theme_id)
        div(class="question-container__theme-hover") #{theme_name}
        +cell(0, theme_name)
        +cell(1, theme_name)   
        +cell(2, theme_name)
        +cell(3, theme_name)
        +cell(4, theme_name)

div(class="question-container")
    each theme, index in ['Тема 1', 'Тема 2', 'Тема 3', 'Тема 4', 'Тема 5']
        +line(theme, theme)
form(class="form")
    button(type="submit", id="save-pack") Сохранить пак
    button(type="submit", id="back") Назад

div(class="popup" id="popup-question")
    div(class="popup__content-question " id="popup_content")
        div(class="popup-elem-top") Введите вопрос
        div(class="popup-elem-without-border" id="theme") Тема
        div(class="popup-elem-without-border" id="cost")
        div(class="popup-elem-top")
            textarea(class="textarea-question" maxlength="165")
        div(class="popup-elem-without-border") Ответ
        div(class="popup-elem-bottom")
            textarea(class="textarea-answer" maxlength="33")
        div(class="popup-elem-bottom")
            div(class="popup-button" id="cansel-question") Отмена
            div(class="popup-button" id="save-question") Сохранить

div(class="popup" id="popup-theme")
    div(class="popup__content-theme " id="popup_content")
        div(class="popup-elem-top") Введите тему
        div(class="popup-elem-bottom")
            textarea(class="textarea-answer" maxlength="33")
        div(class="popup-elem-bottom")
            div(class="popup-button" id="cansel-theme") Отмена
            div(class="popup-button" id="save-theme") Сохранить