div(class="game-panel-online")
    label(for="answer")
    input(class="game-panel-online__input" id="input-answer", type="text")           
    div(id="changing-element" class="game-panel-online__control")
        input(class="game-panel-button-without-hover" value="Юзер должен выбрать вопрос" id="changing-button" type="submit")

