div(class="game-panel-container")
    label(for="answer")
    input(class="input-answer" id="answer", type="text")
    div(class="profile")
        div(class="logo-div")
            img(class="game-panel__user-logo",
            src="https://pngimage.net/wp-content/uploads/2018/06/user-logo-png-4.png",
            alt="User")
        div(class="panel-text") Lvl: 3000kk
    div(id="changing-element" class="control")
        button(class="game-panel-button" id="game-panel-button" type="submit") Ответить
    div(class="score")
        div
            p(class="panel-text") Счет: 1000