div(class="game-panel-online")
    label(for="answer")
    input(class="game-panel-online__input" id="input-answer", type="text")           
    div(id="changing-element" class="game-panel-online__control")
        button(class="game-panel-button-without-hover" id="changing-button" type="submit") Юзер должен выбрать вопрос

