div(class="popup" id="popup_not_exist_join_link")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Ссылка не передана.
        div(class="popup-elem-bottom")
            div(class="popup-button" id="popup_not_exist_join_link_route") На главную


form(class="form", id="autorisation_form")
    button(type="submit", id="link_join") Присоединиться к комнате.