if online === true
    div(class="warning" id="warning")
        div(class="warning__content")
            div(class="warning__elem") No connection!
else 
    div(class="warning warning_show" id="warning")
        div(class="warning__content")
            div(class="warning__elem") No connection!
