if online === true
    div(class="warning" id="warning")
        div(class="warning-content") No connection!
else 
    div(class="warning warning_show" id="warning") 
        div(class="warning-content") No connection!
