
div(class="popup" id="popup_connection_error")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Не удалось установить Websocket соединение.
        div(class="popup-elem-bottom")
            div(class="popup-button" id="popup_connection_error_route") Смириться


div(class="popup" id="game_disconnect")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Вы были отключены от игры.
        div(class="popup-elem-bottom")
            div(class="popup-button" id="game_disconnect_route") Сибаца

div(class="popup" id="wait_disconnect")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Вы были отключены от лобби.
        div(class="popup-elem-bottom")
            div(class="popup-button" id="wait_disconnect_route") Сибаца

div(class="popup" id="popup_http_error")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Не удалось установить HTTPS соединение.
        div(class="popup-elem-bottom")
            div(class="popup-button" id="popup_connection_http_error_route") Смириться

div(class="popup" id="popup_game_end")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Игра закончилась.
        div(class="popup-elem-bottom")
            div(class="popup-button" id="popup_game_end_route") На главную

div(class="popup" id="popup_connect_timer")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Идет подключение, подождите.

div(class="popup" id="popup_load_timer")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top-error") Подождите, данные загружаются.

if online === true
    div(class="warning" id="warning")
        div(class="warning-content") Нет интернет соединения!
else 
    div(class="warning warning_show" id="warning") 
        div(class="warning-content") Нет интернет соединения!


div(class="popup" id="popup-end")
    div(class="popup__content")
        div(class="popup-elem-normal" id="popup-elem-top") Игра завершена
        div(class="popup-elem-bottom")
            div(class="popup-button" id="exit-offline-game") OK
