div(class="popup" id="popup_connection_error")
    div(class="popup__content")
        div(class="popup-elem-top" id="popup-elem-top-error") Не удалось установить соединение.
        div(class="popup-elem-bottom")
            div(class="popup-button" id="popup_connection_error_route") Смириться


if online === true
    div(class="warning" id="warning")
        div(class="warning-content") No connection!
else 
    div(class="warning warning_show" id="warning") 
        div(class="warning-content") No connection!
