div(class="panel-info-container")
    div(class="info" id="redbox")
        div(class="header-text") Пак: #{packName}
        div(class="text") Очень интересный пак! 
form(class="form")
    button(type="submit", id="ready") Готов
    button(type="submit", id="exit") Выход
