div(class="question_container")
    div(class="question_container__line")
        div(class="question_container__theme") Марки за
        div(class="question_container__cost") 100
        div(class="question_container__cost") 200
        div(class="question_container__cost") 300
        div(class="question_container__cost") 400
        div(class="question_container__cost") 500
    div(class="question_container__line")
        div(class="question_container__theme") Марки за
        div(class="question_container__cost") 100
        div(class="question_container__cost") 200
        div(class="question_container__cost") 300
        div(class="question_container__cost") 400
        div(class="question_container__cost") 500
    div(class="question_container__line")
        div(class="question_container__theme") Марки за
        div(class="question_container__cost") 100
        div(class="question_container__cost") 200
        div(class="question_container__cost") 300
        div(class="question_container__cost") 400
        div(class="question_container__cost") 500
    div(class="question_container__line")
        div(class="question_container__theme") Марки за
        div(class="question_container__cost") 100
        div(class="question_container__cost") 200
        div(class="question_container__cost") 300
        div(class="question_container__cost") 400
        div(class="question_container__cost") 500
    div(class="question_container__line")
        div(class="question_container__theme") Марки за
        div(class="question_container__cost") 100
        div(class="question_container__cost") 200
        div(class="question_container__cost") 300
        div(class="question_container__cost") 400
        div(class="question_container__cost") 500
    div(class="question_container__line")
        div(class="question_container__theme") Марки за
        div(class="question_container__cost") 100
        div(class="question_container__cost") 200
        div(class="question_container__cost") 300
        div(class="question_container__cost") 400
        div(class="question_container__cost") 500