div(class="popup " id="popup")
    div(class="popup__content " id="popup_content")
        div(class="popup-elem-top" id="popup-elem-top") Невозможно подключиться к комнате
        div(class="popup-elem-bottom ")
            div(class="popup-button" id="continue") На главную

div(class="panel-text") #{userData.username}, ожидайте других игроков!
div(class="user-panel-container")
    div(id="main-user")
        div(class="logo-div")
            img(class="game-panel__user-logo",
            src=userData.avatar_url,
            alt="User")
        div(class="panel-text") #{userData.username}
    div(class="other-user")
    div(class="other-user")
    div(class="other-user")