div(class="panel-text") #{userData.username}, ожидайте других игроков!
div(class="user-panel-container")
    div(id="main-user")
        div(class="logo-div")
            img(class="game-panel__user-logo",
            src=userData.avatar_url,
            alt="User")
        div(class="panel-text") #{userData.username}
    div(class="other-user")
    div(class="other-user")
    div(class="other-user")
    div(class="other-user")
    div(class="other-user")

 



       