.exit-chat {
  visibility: hidden;
  display: none;
}

@media all and (orientation: landscape) {
  .exit-chat-show {
    height: calc(5px + 6vh);
    width: calc(5px + 6vh);
  }
}

@media all and (orientation: portrait) {
  .exit-chat-show {
    height: calc(5px + 5vh);
    width: calc(5px + 5vh);;
  }
}
.exit-chat-show {
  visibility: visible;
  display: block;
}