$table-slash-height: 6vh;
$table-vertical-margin: 1vh;
$table-elem-height: 8vh;
$rank-margin: 8vw;

.best-players-panel {
    margin: 0px auto;
    width: 98%;
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr;
    grid-template-rows: $table-elem-height;



.bp-elem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $table-vertical-margin;
    margin-bottom: $table-vertical-margin;
    border-style: solid;
    background-color: $color-bg-light;
    border-color: $color-border-primary;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.elem-justify-end {
    justify-content: end;
}


.right-border {
    border-right-width: 0px;
}

.no-border {
    border-right-width: 0px;
}

.best-avatar {
    width: $table-slash-height;
    height: $table-slash-height;
}

.rank-avatar {
    border-radius: 100px;
    width: ($table-slash-height / 2);
    height: ($table-slash-height / 2);
}


.rank-text {
    margin-left: $rank-margin;
    flex-grow: 1;
}

.rank-img {
    margin-right: $rank-margin;
}



}