// colors.scss

$color-bg-dark: rgb(23, 21, 32);
$color-bg: rgba(36, 27, 47, 1);
$color-bg-light: rgba(38, 35, 53, 1);

$color-border-primary: rgba(54, 249, 246, 1);
$color-border-alter: rgba(254, 222, 93, 1);
$color-alert: rgba(211, 97, 53, 1);
$color-danger: #920031;
$color-success: #72f1b8;

$color-font: white;