//  Размеры best_players
$table-slash-height: 6vh;       // Высота разделителя между элементами (разделитель невидимый)
$rank-margin: 4vw;              // Отступ у значка звания справа

:root{
    @media all and (orientation: landscape) {
        --font-size: 1.4vw;              // Размер шрифта
        --big-font-size: 2vw;            // Размер большого шрифта
        --small-font-size: 1vw;          // Размер малого шрифта
        --table-elem-height: 5vw;        // Высота элемента панели
        --best-panel-img-size: 3.33vw;        // Высота аватарки в панели топ 100
        --table-vertical-margin: 0.4vw;    // Отступ панелей
        --tab-height: 4vw;
        --between-tab-height: 2vw;
        --chat-img-size: 3.5vw;

        --tab-text: 2.5vw;
    }
    @media all and (orientation: portrait) {
        --font-size: 2.1vh;
        --big-font-size: 2.7vh;
        --small-font-size: 1.5vh;
        --table-elem-height: 7.5vh;
        --best-panel-img-size: 5vh;
        --table-vertical-margin: 0.6vh;
        --tab-height: 6vh;
        --between-tab-height: 3vh;
        --chat-img-size: 3.5vh;
        
        --tab-text: 2.5vh;
    }
}

$table-vertical-margin: var(--table-vertical-margin);
$table-elem-height: var(--table-elem-height);



//  Размеры rooms
