//  Размеры best_players
$table-slash-height: 6vh;       // Высота разделителя между элементами (разделитель невидимый)
$rank-margin: 4vw;              // Отступ у значка звания справа

:root{
    @media all and (orientation: landscape) {
        --font-size: 1.4vw;              // Размер шрифта
        --big-font-size: 2vw;            // Размер большого шрифта
        --small-font-size: 1vw;          // Размер малого шрифта
        --table-elem-height: 5vw;        // Высота элемента панели
        --best-panel-img-size: 3.33vw;        // Высота аватарки в панели топ 100
        --table-vertical-margin: 0.4vw;    // Отступ панелей
        --tab-height: 4vw;

        --chat-img-size: 2vw;
    }
    @media all and (orientation: portrait) {
        --font-size: 1.4vh;
        --big-font-size: 2vh;
        --small-font-size: 1vh;
        --table-elem-height: 5vh;
        --best-panel-img-size: 3.33vh;
        --table-vertical-margin: 0.4vh;
        --tab-height: 4vh;

        --chat-img-size: 2vh;
    }
}

$table-vertical-margin: var(--table-vertical-margin);
$table-elem-height: var(--table-elem-height);



//  Размеры rooms
