//  Размеры best_players
$table-slash-height: 6vh;       // Высота разделителя между элементами (разделитель невидимый)
$table-vertical-margin: 1vh;    // Отступ элемента панели от панели
$table-elem-height: 10vh;       // Высота элемента панели
$rank-margin: 4vw;              // Отступ у значка звания справа
$panels-margin: 1vw;            // Отступ между панелями
$font-size: 1.4vw;              // Размер шрифта


//  Размеры rooms
