@import "sizes";
@import "TEMPLATE_PANEL";

@import "./help/__question-img/help__question-img.scss";
@import "./help/__text-help/help__text-help.scss";

@import "/navbar/navbar";
@import "/navbar/__exit/navbar__exit";
@import "/navbar/__game-logo/navbar__game-logo";
@import "/navbar/__user-logo/navbar__user-logo";
@import "/navbar/__back-img/navbar__back-img";

@import "/profile/__download-img/profile__download-img";
@import "/profile/__user-img/profile__user-img";

@import "/game-panel/game_panel";
@import "/game-panel/__user-logo/game-panel__user-logo";

@import "/tab/tab";
@import "/tab/__text/tab__text";
@import "/tab/__сreate-pack-button/tab__create-pack-button";
@import "/tab/__create-room-button/tab__create-room-button";
@import "/tab/__info-container/tab__info-container";

@import "/pack-creation/pack-creation";
@import "/pack-creation/__input/pack-creation__input";

@import "/users-panel/users-panel";
@import "/users-panel/__ready-indicator/users-panel__ready-indicator.scss";
@import "/button/__ready-button/button__ready-button.scss";

@import "/users-panel-game/users-panel-game";
@import "/users-panel-game/__score/users-panel-game__score.scss";


@import "/pack-info/pack-info";
@import "/pack-creation/pack-creation";

@import "/main-menu-container/main-menu-container";
@import "/best-players-panel/best-players-panel";
@import "/offline-panel/offline-panel";
@import "form/form";
@import "/rooms-panel/rooms-panel";
@import "paginator/paginator";
@import "button/button";

@import "question-container/question-container";
@import "question-container/__line/question-container__line";
@import "question-container/__theme/question-container__theme";
@import "question-container/__cost/question-container__cost";
@import "question-container/__progress-bar/question-container__progress-bar";
@import "question-container/__question/question-container__question";
@import "question-container/__result/question-container__result";
@import "question-container/__result/question-container__answer";
@import "question-container/__result/question-container__score";

@import "warning/warning";

@import "popup/popup";
@import "popup/__content/popup__content";

@import "chat-bar/chat-bar";
@import "chat-bar/__icon/chat-bar__icon";

@import "iframe/iframe";

@import "form-part/form-part";

@import "faq-text/faq-text";

@import "./flex-containers/flex-containers.scss";

@import "./edit-svg/edit-svg.scss";


:root {
  // main colors
  --color-bg-dark: rgb(23, 21, 32);
  --color-bg-light: rgba(38, 35, 53, 1);
  --main-light-color: #c5aee0;
  --forth-color: #efbcd5;

  // form
  --color-success: #72f1b8;
  --color-input-valid: var(--main-light-color);
  --color-danger: #920031;

  // старый цвет - rgba(54, 249, 246, 1);
  --border-color-theme: var(--main-light-color);

  // scroll
  --scroll-background: var(--color-bg-light);
  --scroll: var(--main-light-color);

  // text
  --color-headers-font: white;
  --font-color: var(--main-light-color);

  // questions
  --question-theme-bg: var(--color-bg-dark);
  --question-container-border-width: 1px;
  --question-container-gap-width: 2px;

  --color-border-primary-low: #b497d6;

  --main-width: 90vw;
  --main-content-vertical-margin: 2vh;
}

body {
  // дублирование цвета
  background-color: rgb(23, 21, 32);

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-feature-settings: "kern";
  font-size: var(--font-size);
  font-weight: 600;
}
