%tab-default {
    text-align: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: $color-border-primary-low;
    color: $color-border-primary-low;
    border-width: 1px;
    border-style: solid;
    background-color: $color-bg-light;
    text-transform: uppercase;
};

.tab {
    @extend %tab-default;
}

.tab-click {
    @extend %tab-default;
    border-width: 2px;
    border-bottom-width: 0px;
    border-color: $color-border-primary;
    color: $color-border-primary;
    background-color: rgba(0, 0, 0, 0); 
}

// .tab:hover .tab {
//     border-bottom-width: 2px;
//     color: $color-border-primary;
// }

// .tab:hover {
//     border-width: 2px;
//     border-bottom-width: 0px;
//     border-color: $color-border-primary;
//     color: $color-border-primary;
//     background-color: rgba(0, 0, 0, 0); 
// }


