div(class="header")
    div(class="logo")
    div(class="menu")
    div(class="menu-item") About
    div(class="menu-item") Products
    div(class="user")
        div(class="user-logo")
        div(class="user-name")
        div(class="dropdown")
div(class="header")
    form
        header(class="form-header") Settings
        div(class="avatar")
        button(type="button" class="btn-upload") Upload Image
        div(class="inputs nickname")
            label(name="nickname") Nickname
            input(type="text" name="nickname")
            label(class="error" name="nickname-error")
        div(class="inputs email")
            label(name="email") Email
            input(type="text" name="email")
            label(class="error" name="email-error")
        div(class="bio")
            label(name="bio") Bio:
            textarea(name="bio")
            label(class="error" name="bio-error")
        button(type="submit" class="btn-submit") Save changes