.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  color: var(--color-headers-font);

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 8px 0px;
  }

  input,
  button {
    background-color: var(--color-bg-dark);
    color: var(--main-light-color);
    border-color: var(--main-light-color);
    border-width: 2px;
    
    margin: 10px 0px;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: var(--font-size);
  }

  input {
    border: 0px;
    margin-bottom: 1px;
    color: var(--color-headers-font);
    background-color: var(--color-bg-light);
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: background-color 500ms ease, border-bottom 500ms ease, box-shadow 1000ms ease;
  }

  input[type="file"] {
    width: 18%;
    font-size: var(--small-font-size);
    margin: 10px;
  }

  input:focus {
    border-bottom: 2px solid var(--border-color-theme);
    box-shadow: 0 5px 5px -5px var(--border-color-theme);
  }

  .input-error,
  input:invalid {
    box-shadow: 0 5px 5px -5px var(--color-danger);
    border-bottom: 2px solid var(--color-danger);
    color: var(--color-danger);
  }

  .input-valid:focus {
    color: var(--color-input-valid);
    box-shadow: 0 5px 5px -5px var(--color-input-valid);
    border-bottom: 2px solid var(--color-input-valid);
  }

  .error-annotation {
    font-size: var(--small-font-size);
    color: var(--color-danger);
    visibility: hidden;
    padding: 2px;
  }

  .error-visible {
    font-size: var(--small-font-size);
    color: var(--color-danger);
    padding: 2px;
  }

  .info-message {
    font-size: var(--small-font-size);
    color: var(--color-success);
    padding: 2px;
  }

  label {
    font-weight: bold;
    font-size: var(--font-size);
  }

  button {
    width: 25%;
    border-radius: 100px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--color-bg-light);
  }
}

.error-annotation {
  font-size: var(--small-font-size);
  color: var(--color-danger);
  visibility: hidden;
  padding: 2px;
}

.error-visible {
  font-size: var(--small-font-size);
  color: var(--color-danger);
  padding: 2px;
}
