.rooms-panel {
    @extend %panel;
    grid-template-columns: 2fr 2fr 1fr 2fr;
}

@media all and (orientation: landscape) {
    .rooms-panel {
        grid-template-columns: 2fr 2fr 1fr 2fr;
    }
}
@media all and (orientation: portrait) {
    .rooms-panel {
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
}


.room-join-img {
    width: ($table-elem-height / 1.5);
    height: ($table-elem-height / 1.5);
    border-radius: 100px;
}