.game-panel__user-logo {
  height: 5vw;
  border-radius: 50%;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5vw;
}

@media all and (orientation: landscape) {
  .game-panel__user-logo {
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
  }
}
@media all and (orientation: portrait) {
  .game-panel__user-logo {
    height: 12vw;
    width: 12vw;
    border-radius: 50%;
  }
}
