.question-container__theme {
    @extend %button;
    text-align: center;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.question-container__theme-hover {
    @extend %button;
    text-align: center;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.question-container__theme-hover:hover {
    z-index: 1;
    color: var(--font-color);
    background-color: var(--color-bg-dark);
    -webkit-box-shadow: 0px 0px 10px 5px var(--forth-color);
    -moz-box-shadow: 0px 0px 10px 5px var(--forth-color);
    box-shadow: 0px 0px 10px 5px var(--forth-color);
}

.question-container__theme-hover-chosen {
    @extend %button;
    text-align: center;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    background-color: var(--color-bg-dark);
}