.button-container-create-pack {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (orientation: landscape) {
  .button-container-create-pack {
    height: 4vw;
    width: 30vw;
  }
}
@media all and (orientation: portrait) {
  .button-container-create-pack {
    height: 8vw;
    width: 50vw;
  }
}
