div(class="application")
    form(class="form")
        div(class="form-group")
            label(for="email") Введите email:
            input(name="email", id="email", type="email")
            span(class="error-annotation") Отображение ошибки

        div(class="form-group")
            label(for="email") Введите логин:
            input(name="email", id="login", type="text")
            span(class="error-annotation") Отображение ошибки

        div(class="form-group")
            label(for="password") Введите пароль:
            input(class="input-valid", name="password", id="password", type="password")
            span(class="error-annotation") Отображение ошибки
        button(type="submit", id="registration") Регистрация