doctype html
html
  head
    title Chat
    link(rel='stylesheet', href='css/main.css')
  body
    #chat-app
      #chat.has-text-centered
        section.section.chat-container
          .container
            .columns
              .box.column.is-16.is-offset-0
                h2.title Чятик
                .chat-messages.has-text-left
                  ul#chat-messages
                form
                  .field.has-addons
                    p.control Egor
                    p.control.is-expanded
                      input(type='text', class='input', placeholder='Можешь написать, если хочешь', id='message')
                    p.control
                      input(type='submit', class='button is-success', value='Отправить')
