<!DOCTYPE html>
<html lang="en">
doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Chat
  body
    div(class="flex-container-centered-content")
      div(id="messages" class="messages")
    form(class="form" name="publish")
      div(class="form-group")
          label(for="user-text")
          input(name="user-text", id="user-text", type="text")
          span(class="error-annotation" id="empty-message") Введите ваше сообщение
      button(type="submit" class="chat-button" id="send-message") Отправить