%tab-default {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--tab-height);
    border-color: var(--color-border-primary-low);
    color: var(--color-border-primary-low);
    border-width: 1px;
    border-style: solid;
    background-color: var(--color-bg-light);
    text-transform: uppercase;
};


.tab {
    @extend %tab-default;
}

.tab-click {
    @extend %tab-default;
    z-index: 0.5;
    border-width: 2px;
    border-bottom-width: 0px;
    border-color: var(--border-color-theme);
    color: var(--font-color-theme);
    background-color: rgba(0, 0, 0, 0); 
}

.tab-hover {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0); 
    -webkit-box-shadow: 0px -5px 5px 0px var(--forth-color);
    -moz-box-shadow: 0px -5px 5px 0px var(--forth-color);
    box-shadow: 0px -5px 5px 0px var(--forth-color);
}

// .tab:hover .tab {
//     border-bottom-width: 2px;
//     color: $color-border-primary;
// }

// .tab:hover {
//     border-width: 2px;
//     border-bottom-width: 0px;
//     border-color: $color-border-primary;
//     color: $color-border-primary;
//     background-color: rgba(0, 0, 0, 0); 
// }


