.navbar__exit {
  text-decoration: none;
  text-align: center;
  color: var(--forth-color);
  font-size: var(--font-size);
  margin-left: 1vw;
  margin-right: 1vw;
}

.grid-navbar-right {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
}

.grid-navbar-left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
}
