div(class="tab-content")
    div(class="rooms-panel")
        div(class="panel-elem elem-justify-start") Название:
        div(class="panel-elem") Количество:
        div(class="panel-elem")
            img(class="room-join-img",
            src="https://myandroid.ru/uploads/posts/2019-01/kto-takoj-rikardo-milos-chim-imenem-nazyvajut-obekty-na-google-kartah_1.png",
            alt="ok")
    each val, index in templateContent
        div(class="rooms-panel")
            div(class="panel-elem elem-justify-start") #{val.name}
            div(class="panel-elem") #{val.amount}
            div(class="panel-elem")
                div(class="join-button") Присоединиться
        

