.navbar__game-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--main-logo-color);

  cursor: pointer;
}
@media all and (orientation: landscape) {
  .navbar__game-logo {
    height: 80%;
  }
}

@media all and (orientation: portrait) {
  .navbar__game-logo {
    height: calc(10px + 5vh);
  }
}

.navbar__game-logo-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}
