.navbar__game-logo {
  text-decoration: none;
  text-align: center;
  color: var(--color-headers-font);
  font-size: var(--big-font-size);
}

.navbar__game-logo-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
}
