<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Svoyak</title>
</head>

//- <script src="https://browser.sentry-cdn.com/5.9.0/bundle.min.js" integrity="sha384-hMcetfUA+TR8vwXLe2PQTtnfYMs/1BMpXcmNGMNVjzbdKcd5mQ50kU6EC1fPHHq7" crossorigin="anonymous">
//- </script>
//- script(type="text/javascript") Sentry.init({ dsn: 'https://f01fba73e5e04b9eb288a0808cd9940e@sentry.io/1820862' });

<body>
    <div id = 'popups'></div>
    <div id='application'></div>
</body>
</html>