.question-container__cost {
    @extend %button;
    border-radius: 0px;
    border-width: 1px;
}

.question-container__cost:hover {
    z-index: 1;
    color: var(--font-color);
    background-color: var(--color-bg-dark);
    -webkit-box-shadow: 0px 0px 10px 5px var(--forth-color);
    -moz-box-shadow: 0px 0px 10px 5px var(--forth-color);
    box-shadow: 0px 0px 10px 5px var(--forth-color);
}

.question-container__cost_chosen {
    @extend %button;
    border-radius: 0px;
    border-width: 1px;
    background-color: var(--color-bg-dark);
}

.question-container__cost_error {
    @extend %button;
    border-radius: 0px;
    border-width: 1px;
    background-color: var(--color-danger);
}