.question-container {
    display: grid;
    margin: auto;
    text-align: center;
    width: var(--main-width);
    color: var(--font-color);
    grid-template-columns: 1fr;
    grid-template-rows:  10vh 10vh 10vh 10vh 10vh 4.5vh;
}


@media all and (orientation: landscape) {
    .question-container {
        grid-template-rows:  4.3vw 4.3vw 4.3vw 4.3vw 4.3vw 1vw;
    }
}
@media all and (orientation: portrait) {
    .question-container {
        grid-template-rows:  10vw 10vw 10vw 10vw 10vw 4.5vw;
    }
}