.best-players-panel {
    @extend %panel;
    grid-template-columns: 1fr 3fr 2fr 3fr;
}



.best-avatar {
    height: var(--best-avatar-size);
    width: var(--best-avatar-size);
}

.rank-avatar {
    border-radius: 100px;
    width: var(--rank-avatar-size);
    height: var(--rank-avatar-size);
    margin-right: $rank-margin;
}


.rank-text {
    margin-left: $rank-margin;
    flex-grow: 1;
}


