.users-panel__ready-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    // border-width: 2px;
    // border-style: solid;
    // border-color: var(--border-color-theme);
    color: var(--font-color-theme);
    background-color: $color-bg-light;
}

@media all and (orientation: landscape) {
    .users-panel__ready-indicator {
      width: 10vw;
      height: 4vw;
    }
  }
  
  
  @media all and (orientation: portrait) {  
    .users-panel__ready-indicator {
      width: 10vh;
      height: 4vh;
    }
  }