.waiting-text-container__leave {
    display: inline-block;
    position: inherit;
    height: 100%;
	vertical-align: middle; 
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    cursor: pointer;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }