.waiting-text-container__leave {
    display: inline-block;
    position: inherit;
	vertical-align: middle; 
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    cursor: pointer;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }


  @media all and (orientation: landscape) {
    .waiting-text-container__leave {
        height: 10vw;
        width: 5vw;
    }
  }
  
  @media all and (orientation: portrait) {
    .waiting-text-container__leave {
        height: 20vw;
        width: 10vw;
    }
  }