%question-container__score {
    @extend %button;
    // border-radius: 10px;
    // border-width: 2px;s

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}


.question-container__score_true {
    @extend %question-container__score;
    color: var(--color-success);
    border-color: var(--color-success);
}

.question-container__score_false {
    @extend %question-container__score;
    color: var(--color-danger);
    border-color: var(--color-danger);
}