%question-container__result {
    @extend %button;
    border-radius: 10px;
    border-width: 2px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
}


.question-container__result_true {
    @extend %question-container__result;
    color: $color-success;
    border-color: $color-success;
}

.question-container__result_false {
    @extend %question-container__result;
    color: $color-danger;
    border-color: $color-danger;
}