nav(class="navbar")
    a(class="navbar__game-logo", href="#") Своя игра
    a(href="#")
        img(class="navbar__user-logo",
        src="https://pngimage.net/wp-content/uploads/2018/06/user-logo-png-4.png",
        alt="User")
    - //alert(userId);
    if userId == ""
        a(class="navbar__exit", id="nav_login", href="#") Вход
        a(class="navbar__exit", id='nav_registration', href="#") Регистрация
    else
        a(class="navbar__exit", id="nav_exit", href="#") Выход

    