<div class="paginator-panel">
        <div class="pg-elem">
                <div class="pg-button">Prev</div>
        </div>
        <div class="pg-elem">
                <div class="pg-button">1</div>
                <div class="pg-button">2</div>
                <div class="pg-button">3</div>
                <div class="pg-button">4</div>
                <div class="pg-button">5</div>
                <div class="pg-button">6</div>
        </div>
        <div class="pg-elem">
                <div class="pg-button">Next</div>
        </div>
</div>