.faq-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 7vh;
    width: 70vw;

    p{
        display: block;
        margin-top: 1em;
        margin-bottom: 0.5em;
        margin-right: 0.5em;
    }

    .join-button{
        margin-top: 1em;
        font-size: var(--font-size);
    }
}