.users-panel__leave {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
}

.users-panel__leave-img {
    width: 50%;
    height: 50%;
}