.warning__content {
    display: grid;
    visibility: inherit;
    text-align: center;
    z-index: 1;
    grid-template-columns: 50vw;
    grid-template-rows: 10vh;
}

// @media all and (orientation: landscape) {
//     .warning__content {
//         width: 50%;
//         height: 50%;
//     }
// }
// @media all and (orientation: portrait) {
//     .warning__content {
//         width: 50%;
//         height: 25%;
//     }
// }
